doctype html
html
  head
    //- link(rel="manifest" href="manifest.json")
    link(rel="icon" type="image/jpeg" href="/icon/icon.png")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="Content-type" content="text/html; charset=utf-8")
    title Scrabble
  body(style="margin:0")
    div#root
    